<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>nu-system</title>
    <link rel="stylesheet" href="./index.css">
    <link rel="stylesheet" href="./skins/default.css">
    <style>
        @font-face {
            font-family: Emoji;
            src: local("Apple Color Emojiji"), local("Segoe UI Emoji"), local("Segoe UI Symbol"), local("Noto Color Emoji");
            unicode-range: U+1F000-1F644, U+203C-3299;
        }
        body{
            font-family: system-ui, —apple-system, Segoe UI, Rototo, Emoji, Helvetica, Arial, sans-serif;
        }
    </style>
</head>
<body>
    <div class="nu_hello">
        <h1>NU-system</h1>
        <p>No UI can be any UI! <a href="https://nu-system.github.io/" title="More"> More 👉</a></p>
    </div>
</body>
</html>
